* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 20px;

}

nav ul{
display: flex;
margin-top: 0;
}

nav ul li{
  list-style: none;
  margin: 15px;
  
}

nav ul li a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.hero-banner{
  background-image: url("../images/02-hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  padding-top: 70px;
}

.hero-banner div h2{
  color: orange; 
  margin-left: 400px;
 font-size: 48px;


}